@import '_variable.scss';

@mixin transition {
	transition: 0.6s all;
}

@mixin filter {
	filter: brightness(80%) drop-shadow(10px 10px 18px #3a68b8);
}

@mixin position_center {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

@mixin logo_text{
	font-weight: 600;
	font-size: 22.5455px;
	line-height: 31px;
	color: $_blue;
	cursor: pointer;
	@include transition;
}

@mixin link {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: $_white;
	@include transition;
}

@mixin small_btn {
	border: none;
	background: $_blue;
	@include link;
	color: $_white;
	padding: 13px 30px;
	border-radius: 5px;
	cursor: pointer;
	@include transition;
}

@mixin pre_title {
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	color: $_blue;
	text-transform: uppercase;
}

@mixin h1 {
	ont-weight: 800;
	font-size: 55px;
	line-height: 130%;
	color: $_white;
}

@mixin welcome_text {
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	opacity: 0.7;
	color: $_white;
}

@mixin welcome_btn {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: $_white;
	padding: 15px 30px;
	cursor: pointer;
	border: none;
	background: $_blue;
	border-radius: 6px;
	@include transition;
}

@mixin section_title{
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	color: $_white;
}

@mixin section_text{
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	color: $_white;
	opacity: 0.7;
}

@mixin section_btn {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	padding: 15px 30px;
	border: none;
	border-radius: 6px;
	background: $_blue;
	color: $_white;
	cursor: pointer;
	@include transition;
}

@mixin footer_title {
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: $_white;
	padding-top: 40px;
	padding-bottom: 20px;
}

@mixin footer_text{
	font-weight: 450;
	font-size: 15px;
	line-height: 18px;
	color: $_white;
	opacity: 0.7;
}

@mixin info_text{
	font-weight: 450;
	font-size: 15px;
	line-height: 18px;
	color: $_white;
}


// mixin to tablet

@mixin h1_tablet {
	ont-weight: 700;
	font-size: 40px;
	line-height: 130%;
	color: $_white;
}

@mixin section_title_tablet{
	font-weight: 600;
	font-size: 30px;
	line-height: 130%;
	color: $_white;
}

@mixin section_text_tablet{
	font-weight: 500;
	font-size: 14px;
	line-height: 160%;
	color: $_white;
	opacity: 0.7;
}

// mixin to mobile

@mixin h1_mobile {
	ont-weight: 600;
	font-size: 30px;
	line-height: 130%;
	color: $_white;
}

@mixin welcome_text_mobile {
	font-weight: 600;
	font-size: 15px;
	line-height: 160%;
	opacity: 0.7;
	color: $_white;
}

@mixin welcome_btn_mobile {
	font-weight: 600;
	font-size: 13px;
	line-height: 27px;
	color: $_white;
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	background: $_blue;
	border-radius: 6px;
	@include transition;
}

@mixin logo_text_mobile{
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	color: $_blue;
	cursor: pointer;
	@include transition;
}