@import '_variable.scss';

@mixin transition {
	transition: 0.6s all;
}

@mixin position_center {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

@mixin logo_text{
	font-weight: 600;
	font-size: 22.5455px;
	line-height: 31px;
	color: $_blue;
	cursor: pointer;
	@include transition;
}

@mixin link {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: $_white;
	@include transition;
}

@mixin small_btn {
	border: none;
	background: $_blue;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: $_white;
	padding: 15px 30px;
	border-radius: 5px;
	cursor: pointer;
	@include transition;
}