@import '_mixin.scss';
@import '_variable.scss';

// General
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Open Sans', 'sans-serif';
}

.container{
	max-width: 1186px;
	margin: 0 auto;
	padding: 0px 20px;
}
// General

// header

.menu{
	background: $header_color;
	padding: 21px 0px;
	.logo{
		display: flex;
		align-items: center;
		gap: 15px;
		margin-right: 84px;
		.img{
			border: none;
			background: none;
			cursor: pointer;
		}
		&_text{
			@include logo_text;
			&:hover{
				color: $_white;
				margin-left: 12px;
			}
		}}
	&_row{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.row{
			display: flex;
			align-items: center;
		}
	}
.link_list{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	.link{
		@include link;
		&:hover{
			color: $_blue;
		}
	}
}.btn{
	@include small_btn;
	&:hover{
		background: $_white;
		color: $_blue;
	}
}}

// Welcome section

.welcome_section{
	padding-top: 49px;
	background: $welcome_section_color;
	padding-bottom: 99px;
	&_row{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&_column_text{
			padding-top: 130px;
			width: 50%;
			display: flex;
			align-items: baseline;
			flex-direction: column;
			.pre_title{
				@include pre_title;
				margin-bottom: 10px;
			}
			.title{
				@include h1;
				margin-bottom: 40px;
			}
			.text{
				@include welcome_text;
				margin-bottom: 50px;
			}
			.btn_row{
				display: flex;
				align-items: center;
				justify-content: space-between;
				.btn{
					@include welcome_btn;
					display: flex;
					align-items: center;
					&:nth-last-child(2){
						margin-right: 20px;
					}
					img{
						margin-right: 8px;
						@include transition;
					}
					&:hover{
						background: $_white;
						color: $_blue;
						img{
							@include filter;
							margin-right: 30px;
						}
					}
				}
			}
		}
	}
	&_partners{
		padding-top: 200px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.partner{
			background: none;
			border: none;
			cursor: pointer;
			padding: 13px 13px;
			border-radius: 20px;
			@include transition;
			&:hover{
				background: $_blue;
				@include filter;
			}
		}
	}
	.img{
		position: absolute;
		right: -20%;
		top: 0;
		bottom: 0;
	}
}