@import '_mixin.scss';
@import '_variable.scss';

// General
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Open Sans', 'sans-serif';
}

.container{
	max-width: 1352px;
	margin: 0 auto;
}
// General

// header

.menu{
	background: $header_color;
	padding-top: 24px;
	padding-bottom: 24px;
	.logo{
		display: flex;
		align-items: center;
		gap: 15px;
		.img{
			border: none;
			background: none;
			cursor: pointer;
			transition: 0.6s all;
			&:hover{
				background: $_blue;
				border-radius: 100%;
				padding: 0px 12px;
			}
		}
		&_text{
			@include logo_text;
			&:hover{
				color: $_white;
				margin-left: 12px;
			}
		}}
	&_row{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.rows{
			display: flex;
			align-items: center;
			gap: 84px;
		}
	}
.link_list{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	.link{
		@include link;
		&:hover{
			color: $_blue;
		}
	}
}.btn{
	@include small_btn;
	&:hover{
		background: $_white;
		color: black;
	}
}}

// Welcome section

